<div class="navbar nav_title" style="border: 0;">
  <a href="/about" class="site_title">
    <img src="/custom/img/logo.png" class="sidebar_logo logo_white" alt="dd">
    <span>Digital Democratic</span>
  </a>
</div>

<div class="clearfix"></div>
<!-- sidebar menu -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">        
  <div class="menu_section">
    <h3>Administration</h3>
    <div class="clearfix"></div>
    <ul class="nav side-menu">
      <li><a class="btn-global-resync"><span style="color: #c75454; "><i class="fa fa-refresh"></i> Resync</span></a></li>
      <li><a href="/users"><i class="fa fa-user"></i> Users</a></li>
      <li><a href="/groups"><i class="fa fa-users"></i> Groups</a></li>
      <li><a href="/roles"><i class="fa fa-user-secret"></i> Roles</a></li>
      
      {% if current_user.role == 'admin' %}
      <h3>System Admin</h3>
      <div class="clearfix"></div>
      <li><a href="/sysadmin/users"><i class="fa fa-user"></i> SysAdminUsers</span></a></li>
      <li><a href="/sysadmin/groups"><i class="fa fa-user"></i> SysAdminGroups</span></a></li>
      <li><a href="/sysadmin/external"><i class="fa fa-external-link"></i> External</a></li>
      {% endif %}
    </ul>
    <ul class="nav side-menu">
      <li><a href="/about"><i class="fa fa-question"></i> About</span></a>
      </li>
    </ul>
  </div>
</div>
